@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

@font-face {
	font-family: 'Inter';
	src: url('/assets/inter.woff2') format('woff2');
	font-weight: 100 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	/* Colors */
	--color-primary: #09f;
	--color-primary-light: #ceecff;
	--color-primary-dark: #445d7e;
	--color-secondary-dark: #10192a;
	--color-dev-link: #385aa2;
	--color-dev-link-light: #f1f5f9;

	/* Fonts */
	--font-display: 'Inter', system-ui, sans-serif;

	/* Breakpoints */
	--breakpoint-xs: 350px;
}

/* Hide scrollbar for all browsers */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
	display: none;
}

/* For Firefox */
html {
	scrollbar-width: none;
}

/* For IE/Edge */
body {
	-ms-overflow-style: none;
}

.social-button {
	@apply p-2 size-10 xs:size-12 flex items-center justify-center rounded-full hover:scale-110 transition-transform;
}

.title-card {
	@apply absolute bottom-2 left-4 font-bold text-2xl z-30 bg-black/20 group-hover:bg-black/50 transition px-2 rounded-full;
}
